.navBar h1 {
    float: left;
    color: white;
    text-align: center;
    margin: auto;
} 
.navBar {
    margin: auto;
}
.nav {
    background: white;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
}
li {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.container {
    max-width: 960px;
    margin: auto;
}
body {
    background-image: url("/assets/folk-pattern-black.png");
}
.one:hover {
    font-size: 30px;
}
.two:focus {
    color: purple;
}
.three:hover {
    background-color: teal;
}
.logo {
    width: 30%;
    background-color: teal;
    color: white;
    padding: 10px;
    float: left;
}

ul {
    float: right;
}
.footer {
    padding: 20px; background-color: #333; width: 100%; bottom: 0; border-top: 5px solid teal;
}
.footer p {
    text-align: center;
    color: white;
}
.nav-item {
    font-family: 'Fjalla One', sans-serif;
    color: grey;
}
.label {
    color: white; text-align: center; background-color: teal; padding: 10px; margin-bottom: 10%;
}
.background-image {
    padding-top: 50%;
    padding-bottom: 10%;
    margin-bottom: 10px;
}